<style>
/* MAIN POSITION */
body {
  background-color: #ffffff;
  margin: 5px;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
  FONT-SIZE: 12px; 
  color: #2e3640;
  text-align : justify;
  line-height: 150%;
}

h1 {  
	COLOR: #ffffff;   
	FONT-SIZE: 20px;   
	FONT-WEIGHT: normal;   
	BACKGROUND: #d4db7b; 
	padding: 2px 2px 7px 5px;  /* t r b l */
	margin: 0px 0px 10px 0px;
	display: block;
	text-align: left;
}

p {
	margin-bottom : 5px;	
}

a { 
	COLOR: #929d00; 
}

table {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background: #ffffff;
}

td { 
	padding: 5px 5px 5px 5px;
	background: #f3f5f7;
	margin: 0px 0px 0px 0px;
	color: #2e3640;
	font-size: 12px;
    line-height: 150%;  
}

td.announcement {
	border-style: solid;
	border-color: #b7c034;
	border-width: 2px;
}

li {
	margin: 0px 0px 4px 0px;
}

ul {
	padding-top: 5px;
	padding-bottom: 5px;
}
</style>
<h1>About SBPD</h1>
<img src="pics/green.jpg" width="200" align="right">
The SBTOOLBOX2 and the SBPD addon package have been developed
by <a href="http://www.hschmidt.de">Dr. Henning Schmidt</a>, 
currently working at the University of Rostock, Germany.
<p>
In case of questions, feedback, employment offers, lottery-win notifications, 
etc. please contact me via <a href="mailto:henning@sbtoolbox2.org">henning@sbtoolbox2.org</a>.
<p>&nbsp;<p>
<p>&nbsp;<p>
<h1>License Information SBPD</h1>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.0/de/deed.en"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/2.0/de/88x31.png" align="left"></a>
<span xmlns:dc="http://purl.org/dc/elements/1.1/" property="dc:title">SBPD</span> is licensed under a<br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.0/de/deed.en">Creative Commons Attribution-Non-Commercial-No Derivative Works 2.0 Germany License</a>.
